/* Ocean Stale variables */
/* Default
$theme-color: #2B6781;
$text-color: #3F4650;
$text-color-secondary: #545E6C;
$text-grey: #97AAC3;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #f5f5f5;
$heart: #fb866a;
*/

/* Ocean Stale Dark Mode */
$theme-color: #2B6781;
$text-color: #f9f9fb;
$text-color-secondary: #e8e8e8;
$text-grey: #97AAC3;
$divider: #494d55;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #1d1f21;
$heart: #fb866a;
$smoky-grey: #3F4650;