/* Teal variables */
/* Default
$theme-color: #4BA3A6;
$text-color: #3E464A;
$text-color-secondary: #51656D;
$text-grey: #96A8B8;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #f5f5f5;
$heart: #fa8072;
*/

/* Teal Dark Mode */
$theme-color: #4BA3A6;
$text-color: #f9f9fb;
$text-color-secondary: #e8e8e8;
$text-grey: #97AAC3;
$divider: #494d55;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #1d1f21;
$heart: #fb866a;
$smoky-grey: #3F4650;